[Unit]
Description="Get current daily percentile of stock values"

[Service]
Type=oneshot
Restart=no
WorkingDirectory=/var/www/inversions
User=root
ExecStart=/bin/bash /var/www/inversions/src/src/starter_all_stocks.sh