[Unit]
Description="Sort the best stocks from previous day once a day (it is fast) 1am sounds good"

[Timer]
# once a day usually at night
OnCalendar=Tue..Sat *-*-* 03:05:00  
Unit=SortBestStocks.timer

[Install]
WantedBy=multi-user.target