[Unit]
Description="Sort the best stocks from previous day once a day"

[Timer]
OnCalendar=Tue..Sat *-*-* 03:05:00
Unit=SortBestStocks.service

[Install]
WantedBy=timers.target