[Unit]
Description="Sort best stocks from previous day"

[Service]
Type=simple
WorkingDirectory=/var/www/inversions
User=root
ExecStart=/bin/bash /var/www/inversions/src/src/starter_sort_best.sh

[Install]
WantedBy=multi-user.target